environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
#     - BuildType: "msvc-x64"
#     - BuildType: "msvc"
#     - BuildType: "clang-cl"
#     - BuildType: vssolution

version: reactos.appveyor.{build}
skip_branch_with_pr: true
clone_depth: 25
clone_folder: c:\reactos-cov
matrix:
  fast_finish: true

init:
  - ps: (New-Object System.Net.WebClient).DownloadFile("https://svn.reactos.org/amine/RosCMakeNinja.zip","C:\RosCMakeNinja.zip")
  - 7z x C:\RosCMakeNinja.zip -oC:\RosCMakeNinja
  - ps: >-
      If ($env:BuildType -Match "clang-cl") {
        $env:clang_configure_option="clang"
        (New-Object System.Net.WebClient).DownloadFile("https://svn.reactos.org/amine/clang-cl.7z","C:\clang-cl.7z")
        7z x C:\clang-cl.7z -oC:\RosCMakeNinja\bin
      } Else {
        $env:clang_configure_option=""
      }

build_script:
  - set PATH=C:\RosCMakeNinja\bin;%PATH%
  - if "%BuildType%" == "msvc-x64" (
        call "C:\PROGRA~2\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
      ) else (
        call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat" x86
      )
  - cmake --version
  - md c:\ros_build
  - cd c:\ros_build
  - call %APPVEYOR_BUILD_FOLDER%\configure.cmd %clang_configure_option% -DENABLE_ROSTESTS=1
  - ps: >-
      & ninja -k0 2>&1 | select-string -pattern "\[\d+\/\d+\] " -NotMatch | %{$_.Line}
  - ps: >-
      & ninja bootcd 2>&1 | select-string -pattern "\[\d+\/\d+\] " -NotMatch | %{$_.Line}

test: off
deploy: off

for:
-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu

  clone_folder: ~/projects/ros_workdir/reactos-cov

  init:
    - cd ~/projects/ros_workdir
    - wget https://svn.reactos.org/amine/RosBEBinFull.tar.gz
    - tar -xzf RosBEBinFull.tar.gz
    - echo 'mkdir ../Build && cd ../Build && $APPVEYOR_BUILD_FOLDER/configure.sh -DENABLE_ROSAPPS=1 && ninja -k0 && ninja bootcd && ninja livecd' > tmp_build_file
#     - echo 'mkdir ../Build && cd ../Build && $APPVEYOR_BUILD_FOLDER/configure.sh -DENABLE_ROSTESTS=1 && ninja -k0 && ninja bootcdregtest' > tmp_build_file
# ("git clone" explicite fctne, mais) Necessaire pour "git checkout" implicite.
    - cd $APPVEYOR_BUILD_FOLDER

  build_script:
    - cd ~/projects/ros_workdir
    - ./RosBEBinFull/RosBE.sh < tmp_build_file

  after_build:
    - export BuildType=gcc
    - export SGVER=$APPVEYOR_BUILD_NUMBER-${APPVEYOR_REPO_COMMIT:0:7}-$BuildType
    - cd ~/projects/ros_workdir/Build
# 
    - appveyor PushArtifact bootcd.iso -FileName bootcd-$SGVER.iso
    - appveyor PushArtifact livecd.iso -FileName livecd-$SGVER.iso
-
  matrix:
    only:
      - BuildType: vssolution

  build_script:
    - set PATH=C:\RosCMakeNinja\bin;%PATH%
    - call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat" x86
    - cmake --version
    - md C:\ros_build
    - cd C:\ros_build
    - call %APPVEYOR_BUILD_FOLDER%\configure.cmd VSSolution -DENABLE_ROSTESTS=1
    - msbuild /verbosity:quiet /target:bootcd REACTOS.sln
