image:
    # (Assumed) Too old for ROS.
#   - Visual Studio 2013
    # 'CMake 3.17.0 or higher is required. You are running version 3.16.2' :-(
  - Visual Studio 2015
    # 'CMake 3.17.0 or higher is required. You are running version 3.16.2' :-(
#   - Visual Studio 2017
#   - Visual Studio 2019

environment:
  matrix:
#     - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
#     - BuildType: "msvc-x64"
#     - BuildType: "msvc"
    - BuildType: vssolution
#     - BuildType: "clang-cl"

version: REACTOS_SOURCE_DIR.CORE-15991.reactos.appveyor.{build}
skip_branch_with_pr: true
clone_depth: 5
clone_folder: c:\reactos-cov
matrix:
  fast_finish: false

init:
  - ps: (New-Object System.Net.WebClient).DownloadFile("https://svn.reactos.org/storage/vperevertkin/flexbison.7z","C:\flexbison.7z")
    # AppV: %APPVEYOR_BUILD_FOLDER% must remain empty at this stage :-/
  - 7z x C:\flexbison.7z -oC:\RosCMakeNinja\bin
# # TODO...        $env:PATH="C:\RosCMakeNinja\bin;$env:PATH"
#   - ps: >-
#       If ($env:BuildType -Match "clang-cl") {
#         $env:clang_configure_option="clang"
#         (New-Object System.Net.WebClient).DownloadFile("https://svn.reactos.org/amine/clang-cl.7z","C:\clang-cl.7z")
#         7z x C:\clang-cl.7z -oC:\RosCMakeNinja\bin
#       } Else {
#         $env:clang_configure_option=""
#       }

build_script:
#   - set PATH=C:\RosCMakeNinja\bin;%PATH%
  - if "%BuildType%" == "msvc-x64" (
        call "C:\PROGRA~2\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
      ) else (
        call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86
      )
  - cmake --version
  - md c:\ros_build
  - cd c:\ros_build
  - call %APPVEYOR_BUILD_FOLDER%\configure.cmd %clang_configure_option%
  - ps: >-
      & ninja -k0 2>&1 | select-string -pattern "\[\d+\/\d+\] " -NotMatch | %{$_.Line}
  - ps: >-
      & ninja bootcd 2>&1 | select-string -pattern "\[\d+\/\d+\] " -NotMatch | %{$_.Line}

test: off
deploy: off

for:
-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu

  clone_folder: ~/projects/ros_workdir/reactos-cov

  init:
    - cd ~/projects/ros_workdir
    - wget https://svn.reactos.org/amine/RosBEBinFull.tar.gz
    - tar -xzf RosBEBinFull.tar.gz
    - echo 'mkdir ../Build && cd ../Build && $APPVEYOR_BUILD_FOLDER/configure.sh && ninja -k0 && ninja bootcd' > tmp_build_file
    - cd $APPVEYOR_BUILD_FOLDER

  build_script:
    - cd ~/projects/ros_workdir
    - ./RosBEBinFull/RosBE.sh < tmp_build_file
-
  matrix:
    only:
      - BuildType: vssolution

  build_script:
# Later:    - dir "C:\Program Files (x86)\Microsoft SDKs\" /s
# Later:    - dir "C:\Program Files\Microsoft SDKs\" /s
#     - dir "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\"
#     - cd "C:\Program Files (x86)\" && dir vcvarsall.bat /s
#     - cd "C:\Program Files\" && dir vcvarsall.bat /s
    - set PATH=;%PATH%;C:\RosCMakeNinja\bin
    - set BISON_PKGDATADIR=C:\RosCMakeNinja\bin\share\bison
    - set M4=C:\RosCMakeNinja\bin\m4.exe

# On VS2015 image:
      # VS9  (2008): ROS 'Error: Visual Studio version too old (before 14 (2015)) or version detection failed.'.
#     - call "C:\Program Files (x86)\Microsoft Visual Studio 9.0\VC\vcvarsall.bat" x86
      # VS10 (2010): ROS 'Error: Visual Studio version too old (before 14 (2015)) or version detection failed.'.
#     - call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat" x86
      # VS11 (2012): ROS 'Error: Visual Studio version too old (before 14 (2015)) or version detection failed.'.
#     - call "C:\Program Files (x86)\Microsoft Visual Studio 11.0\VC\vcvarsall.bat" x86
      # VS12 (2013): ROS 'Error: Visual Studio version too old (before 14 (2015)) or version detection failed.'.
#     - call "C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall.bat" x86
      # VS14 (2015). ALL_BUILD: ERROR INIT; All R.sln: killed after 60+ min :-(
# 
    - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86

# On VS2017 image:
#   C:\Program Files (x86)\
#     Microsoft SDKs []
#     Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
#     Microsoft Visual Studio 14.0\SDK
#     Microsoft Visual Studio 11.0\VC\vcvarsall.bat
#     Microsoft Visual Studio 12.0\VC\vcvarsall.bat
#     Microsoft Visual Studio 14.0\VC\vcvarsall.bat
#   C:\Program Files\
#     Microsoft SDKs []
      # VS11 (2012): ROS 'Error: Visual Studio version too old (before 14 (2015)) or version detection failed.'.
#     - call "C:\Program Files (x86)\Microsoft Visual Studio 11.0\VC\vcvarsall.bat" x86
      # VS12 (2013): ROS 'Error: Visual Studio version too old (before 14 (2015)) or version detection failed.'.
#     - call "C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall.bat" x86
      # VS14 (2015). ALL_BUILD: ERROR INIT; All R.sln: killed after 60+ min :-(
#     - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86
      # VS15 (2017). ALL_BUILD, All R.sln: killed after 60+ min :-(
#     - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x86

# On VS2019 image:
#   C:\Program Files (x86)\
#     Microsoft SDKs []
#     Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat
#     Microsoft Visual Studio 14.0\SDK
#     Microsoft Visual Studio 14.0\VC\vcvarsall.bat
#   C:\Program Files\
#     Microsoft SDKs []
      # VS14 (2015): Broken... (Not worth investigating.)
#     - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86
      # VS16 (2019). ALL_BUILD: 35 min; boot\bootcd: 36 min; All R.sln: 44 min.
#     - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x86

    - cmake --version
    - md C:\ros_build
    - cd C:\ros_build
    - call %APPVEYOR_BUILD_FOLDER%\configure.cmd VSSolution
#     - msbuild /help
      # '/targets': VS2015/VS2017 N/A, VS2019 Ignored :-(
#     - msbuild /p:Platform=Win32 /targets REACTOS.sln
      # R.sln, '/maxCpuCount' (no value, or :2): 35-36 min, then 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VC\v160\Microsoft.CppCommon.targets(240,5): warning MSB8065: Custom build for item "C:\ros_build\CMakeFiles\fa1a9b45fde421cd14b53fd8e7012a0e\reactos.inf.rule" succeeded, but specified output "c:\ros_build\__some_non_existent_file" has not been created. This may cause incremental build to work incorrectly. [C:\ros_build\reactos_cab.vcxproj]'.
#     - msbuild /verbosity:quiet /p:Platform=Win32 REACTOS.sln
      #   VS2017/VS2019: loads of 'D:\a\reactos\reactos\build\ZERO_CHECK.vcxproj : error MSB4057: The target "ALL_BUILD" does not exist in the project.'.
    # - msbuild /verbosity:quiet /p:Platform=Win32 /target:ALL_BUILD REACTOS.sln
    - msbuild /verbosity:quiet /p:Platform=Win32 ALL_BUILD.vcxproj
      # VS2010(!?): '/target:bootcd'. VS2015+: '/target:boot\bootcd'.
    # - msbuild /verbosity:quiet /p:Platform=Win32 /target:boot\bootcd REACTOS.sln
    # - msbuild /verbosity:quiet /p:Platform=Win32 /target:boot\livecd REACTOS.sln
